/* You can add global styles to this file, and also import other style files */
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family : 'Montserrat', sans-serif ;
}
.font-12{
    font-size: 12px;
}

.opacity-50{
    opacity: 0.5;
}

